# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=a18872095cd3c9b1f90f7c3220c0bd7e
###< symfony/framework-bundle ###

###> postgre ###
DB_NAME=balance_microservice
DB_USER=root
DB_PASSWORD=root
DB_HOST=postgre
###< postgre ###

###> rabbitmq ###
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_VHOST=/
RABBITMQ_HOST=rabbitmq
###< rabbitmq ###

###> dnsresolver ###
DNS_RESOLVER_IP=null
###< dnsresolver ###
