<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude(['vendor', 'var', 'docker', 'bin'])
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        '@PHP71Migration' => true,
        'phpdoc_order' => true,
        'array_syntax' => ['syntax' => 'short'],
    ])
    ->setFinder($finder)
;